@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #1b74e4;
  --bg-color: #f0f2f5;
  --text-color: #65676b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
  font-family: 'Helvetica';
}
body {
  padding: 1em 3em;
}
